/**** Иконки **/
a.DTTT_button{
	margin: 0;
	background: none !important;
	border: none !important;
}

a.DTTT_button_edit span {
	background-position: 0px 0px;
}

a.DTTT_button_edit:hover span {
	background-position: 0px -21px;
}

a.DTTT_button_edit.DTTT_disabled span {
	background-position: -0px -42px;
}

a.DTTT_button_new span {
	background-position: -21px 0px;
}

a.DTTT_button_new:hover span {
	background-position: -21px -21px;
}

a.DTTT_button_new.DTTT_disabled span {
	background-position: -21px -42px;
}

a.DTTT_button_del span {
	background-position: -42px -0px;
}

a.DTTT_button_del:hover span {
	background-position: -42px -21px;
}

a.DTTT_button_del.DTTT_disabled span {
	background-position: -42px -42px;
}

a.DTTT_button_print span {
	background-position: -63px -0px;
}

a.DTTT_button_print:hover span {
	background-position: -63px -21px;
}

a.DTTT_button_print.DTTT_disabled span {
	background-position: -63px -42px;
}

a.DTTT_button_group span {
	background-position: -84px -0px;
}

a.DTTT_button_group:hover span {
	background-position: -84px -21px;
}

a.DTTT_button_group.DTTT_disabled span {
	background-position: -84px -42px;
}

a.DTTT_button_vis.DTTT_unvis span {
	background-position: -105px -0px;
}

a.DTTT_button_vis:hover span {
	background-position: -105px -21px;
}
a.search span {
	background-position: -105px -21px !important;
}

a.DTTT_button_vis span {
	background-position: -105px -42px;
}
a.DTTT_button_search span {
	background-position: -126px -0px;
}

a.DTTT_button_search:hover span {
	background-position: -126px -21px;
}

a.DTTT_button_search.DTTT_disabled span {
	background-position: -126px -42px;
}

a.DTTT_button_foldernew span {
	background-position: -147px -0px;
}

a.DTTT_button_foldernew:hover span {
	background-position: -147px -21px;
}
a.DTTT_button_foldernew.DTTT_disabled span {
	background-position: -147px -42px;
}
/*********************************************/
#users {
	background-position: -192px 0px;
}
#users.pagetab-selected,
#users:hover {
	background-position: -192px -64px !important;
}

#home-page {
	background-position: 0px 0px;
}
#home-page.pagetab-selected,
#home-page:hover {
	background-position: 0px -64px !important;
}

#aliases {
	background-position: -64px 0px;
}

#aliases.pagetab-selected,
#aliases:hover {
	background-position: -64px -64px !important;
}

#domains {
	background-position: -128px 0px;
}
#domains.pagetab-selected,
#domains:hover {
	background-position: -128px -64px;
}

#logs {
	background-position: -256px 0px;
}
#logs.pagetab-selected,
#logs:hover {
	background-position: -256px -64px;
}
/******************/
#groups {
	background-position: -320px 0px;
}
#groups.pagetab-selected,
#groups:hover {
	background-position: -320px -64px;
}
#admin {
	background-position: -384px 0px;
}
#admin.pagetab-selected,
#admin:hover {
	background-position: -384px -64px;
}
#auth {
	background-position: -448px 0px;
}
#auth.pagetab-selected,
#auth:hover {
	background-position: -448px -64px;
}
#roles {
	background-position: -512px 0px;
}
#roles.pagetab-selected,
#roles:hover {
	background-position: -512px -64px;
}
#dns {
	background-position: -576px 0px;
}
#dns.pagetab-selected,
#dns:hover {
	background-position: -576px -64px;
}
#badm {
	background-position: -640px 0px;
}
#badm.pagetab-selected,
#badm:hover {
	background-position: -640px -64px;
}
#bcont {
	background-position: -704px 0px;
}
#bcont.pagetab-selected,
#bcont:hover {
	background-position: -704px -64px;
}

#alarms {
	background-position: -768px 0px;
}
#alarms.pagetab-selected,
#alarms:hover {
	background-position: -768px -64px;
}
