.vertical-50 {
/*
	background-color: grey;
*/
	width: 49%;
	display: inline-block;
	vertical-align: top;
}

.gorizont-50  {
/*
	background-color: yellow;
*/
	width: 100%;
	min-height: 100px;
	margin: 0 0 40px 0;
}

.right-side {
	float: right;
}

