
.main-page {
	text-align: center;
}

.sections {
	position: relative;
	width: 75%;
	margin: 10% auto;
}

.loginform {
	width: 460px;
	padding: 10px;
	margin: 10% auto;
}

#logout {
	position: absolute;
	top: 0;
	right: 0;
	width: 25px;
	height: 25px;
	cursor:pointer;
}

.logo {
	margin: 0px auto  20px;
}

#usersform table {
	border-collapse:collapse;
	width: 432px;
	margin: 0px;
}

#usersform td.formlabel {
	width: 130px;
	padding-right: 10px;
	text-align: right;
}

form#usersform {
	padding: 15px;
}

.theme {
	width: 200px;
	height: 200px;
	margin: 20px;
	display: inline-block;
	cursor: pointer;
}

.theme a {
	color: #333;
	text-decoration:none;
}

.img-pad {
	width:128px;
	height:128px;
	margin: 5% auto;
	background-position: 0 0;
	background-repeat: no-repeat;
}

.name {
	font-size: 35px;
}

.alert-msg {
	margin: 20px auto 5px;
}

.form-alert {
	margin: 5px auto;
}
