div.DTTT_container {
	float: right;
}
.editmenu {
	padding-top: 4px;
	display: inline-block;
	float: left;
	position: relative;
	margin : 0 10px 0 100px;
}
.editmenu input[type='text'] {
	padding-left: 4px;
	height: 19px;
}

.editmenu select {
	height: 23px;
}

.msgEven {
	background-color: #fff !important;
}
.msgOdd {
	background-color: #F0F5FC !important;
}
.loader {
	background: url('/images/loader.gif') 0 0 no-repeat;
	width: 48px;
	height:  48px;
}

.abort {
	position: absolute;
	top: 30%;
	left: 45%;
	font-size: 20px;
}
