.myfilter {
/*
	background-color: yellow;
*/
/*
	display: block;
*/
	height: 30px;
	vertical-align: top;
	float: right;
	margin-right: 100px;
}
.editmenu {
	padding: 4px;
}
.editmenu input[type='text'] {
	padding-left: 4px;
	height: 19px;
}

.editmenu select {
	height: 23px;
}

.time {
	width: 30px;
	height: 15px;
}
