@import "ubuntu.css";

.tb-color .webix_list_item,
.tb-color .webix_menu-x,
.tb-color.webix_layout_toolbar.webix_toolbar {
    background: #E97E29;
}
.tb-color .webix_list_item:hover {
    background: #C76103;
}
.isactive_0 {
    color: #ff6653;
    text-decoration: line-through;
}

.localnet {
    color: #000000;
}

.net10 {
    color: #8bccac;
}
.domain_type_0,
.net-0 {
    color: #cc5000;
}
.domain_type_1,
.net-4 {
    color: #0000ff;
}
.domain_type_2,
.net-5 {
    color: #1bcc05;
}
.net-12 {
    color: #0aaeff;
}
.net-109 {
    color: #cc0a48;
}
.webix_icon.disabled {
    color: #dddddd;
}
.webix.view,
/*.groups,*/
.ftab,
.webix_el_box input {
    font-family: 'Ubuntu';
    font-size: 14px;
}
.fleft {
    float: left;
    margin: 4px;
}

.fleft.domain_name,
.fleft.mailbox,
.fleft.username {
    width: 200px;
    border-right: 1px solid #ddd;
}
.fleft.username {
    width: 300px;
}

.fleft.fa-envelope {
    color: green;
}
.fleft.fa-male {
    color: #660099;
}
.fleft.fa-users {
    color: #3498db;
}
.fleft.webix_icon,
.fleft.last_login {
    border: 1px solid #999;
    border-radius: 6px;
    padding: 5px;
    text-align: center;
}
.webix_selected .fleft {
    border-color: #fff;
}
.fleft.last_login {
    line-height: 17px;
    font-size: 11px;
}

.filter {
    float: left;
}
.arrow {
    margin: 0;
    width: 150px;
}
.fleft.alias_name {
    width: 200px;
}
.noborder {
    border: none !important;
}
/****   alias| groups ****/
.groups .webix_tree_folder_open,
.groups .webix_tree_folder{
    background-image: url(/images/groups.png);
    background-position: 0px 4px;
}
.groups .webix_tree_file{
    background-image: url(/images/usr.png);
    background-position: 0px 4px;
}
.tabbar {
    padding-top: 10px;
}
.accord .webix_accordionitem_header{
    background: #949f15;
}