@import "ubuntu.css";
body {
    margin: 0;
}


.tb-color .webix_image,
.tb-color .webix_img_btn,
.tb-color .webix_img_btn_top,
.tb-color .webix_list_item,
.tb-color .webix_menu-x,
.tb-color.webix_layout_toolbar.webix_toolbar {
    background-color: #E97E29 !important;
    border: 0 solid transparent !important;
}
.tb-color .webix_img_btn:hover,
.tb-color .webix_img_btn_top:hover,
.tb-color .webix_image:hover,
.tb-color .webix_list_item:hover {
    background-color: #C76103 !important;
    border: 0 solid transparent !important;
}
/*.ftab .webix_list_item{*/
    /*height: auto !important;*/
/*}*/
.isactive_0 {
    color: #c3c3c3;
    text-decoration: line-through;
}

.localnet {
    color: #000000;
}

.net10 {
    color: #8bccac;
}
.domain_type_0,
.net-0 {
    color: #cc5000;
}
.domain_type_1,
.net-4 {
    color: #0000ff;
}
.domain_type_2,
.net-5 {
    color: #1bcc05;
}
.net-12 {
    color: #0aaeff;
}
.net-109 {
    color: #cc0a48;
}
.webix_icon.disabled {
    color: #dddddd;
}

.webix.view,
.ftab,
.webix_inp_static,
.webix_list,
.webix_el_box input {
    font-family: 'UbuntuRegular';
    font-size: 14px;
}
.webix_inp_label,
.webix_inp_top_label,
.webix_accordionitem_label,
.webix_toolbar .webix_el_label{
    font-family: 'UbuntuRegular' !important;
}

.fleft {
    float: left;
    margin: 4px;
}

.fleft.roles,
.fleft.domain_name,
.fleft.mailbox,
.fleft.username {
    width: 200px;
    border-right: 1px solid #ddd;
}
.fleft.username {
    width: 300px;
}

/*.fleft.fa-envelope {*/
    /*color: green;*/
/*}*/
.fleft.fa-male {
    color: #660099;
}
.fleft.fa-users {
    color: #3498db;
}

.fleft.webix_icon,
.fleft.last_login {
    border: 1px solid #999;
    border-radius: 6px;
    padding: 5px;
    text-align: center;
}
.webix_selected .fleft {
    border-color: #fff;
}
.fleft.last_login {
    line-height: 17px;
    font-size: 11px;
}

/*.filter {*/
    /*float: left;*/
/*}*/
.arrow {
    margin: 0;
    width: 150px;
}

.fleft.alias_name {
    width: 200px;
}

.fleft.roles,
.fleft.receivedat {
    width: 150px;
}

.fleft.syslogtag {
    width: 110px;
}
.fleft.sections{
    border: 1px solid #999;
    border-radius: 6px;
    padding: 0 5px;
    text-align: center;
}

.fleft.msgid {
    width: 80px;
}

.noborder {
    border: none !important;
}
/****   alias| groups ****/
.roles .webix_tree_folder_open,
.roles .webix_tree_folder{
    background-image: url(/role.png);
    background-position: 0px 4px;
}
.groups .webix_tree_folder_open,
.groups .webix_tree_folder{
    background-image: url(/groups.png);
    background-position: 0px 4px;
}
.groups .webix_tree_file{
    background-image: url(/usr.png);
    background-position: 0px 4px;
}
.tabbar {
    padding-top: 10px;
}
.accord .webix_accordionitem_header{
    background: #949f15;
}
.even {
    color: #824100;
}

.logs .webix_list_item{
    height: auto !important;
}
.logo {
    margin: 5px 0px auto;
}

.exit .webix_icon_btn {
    margin: 3px 3px 3px 6px;
    font-size:28px;
}
.webix_toolbar .webix_custom_checkbox:before{
    color: #C76103;
}

/*.webix_el_box :nth-child(odd){*/
    /*background-color: #eeeeee;*/
/*}*/
.fleft.permission{
    background-size: 100% 100%;
    width:20px;
    height:20px;
    margin: 8px 5px 0 0;
}
.permission_NONE {
    background-image: url(/NONE.png);
}
.permission_READ{
    
    background-image: url(/READ.png);
}
.permission_WRITE{
    background-image: url(/WRITE.png);
}