html,
body {
	margin:0px; padding:0px;
	font-family: Tahoma, Verdana, Sans;
	font-size: 12px;
	position:relative;
}

.container {
	margin: 10px auto;
	min-width:1000px;
	width: 95%;
	overflow: hidden;
}

table.container-inner {
	width: 100%;
	border-collapse: collapse;
}

td {
	vertical-align: top;
}

td.content-left {
	width:125px;
}

.content-center-35,
.content-center {
	 margin-left: -25.5%;
	 width: 100%;
	 float: right;
}

.divider {
	padding: 40px 0 10px;
}

.page-name {
	font-weight: bold;
	font-size: 1.2em;
/*
	color: #a03a00;
*/
}

.row_selected {
	background-color: #8282b8;
}

.theme{
	width: 100px;
	height: 100px;
	margin: 10px;
	position:relative;
}

.pagetab {
	width: 64px;
	height: 64px;
	position:absolute;
	top: 18px;
	left:18px;
}

/* Corner radius - reload */
.theme.ui-corner-all,
.user-form.ui-corner-all{
	border-top-left-radius: 10px;
}

.theme.ui-corner-all,
.user-form.ui-corner-all{
	border-top-right-radius: 10px;
}

.theme.ui-corner-all,
.user-form.ui-corner-all{
	border-bottom-left-radius: 10px;
}

.theme.ui-corner-all,
.user-form.ui-corner-all{
	border-bottom-right-radius: 10px;
}

.box-shadow {
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.3); /* ÐÐ»Ñ Firefox */
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3); /* ÐÐ»Ñ Safari Ð¸ Chrome */
    box-shadow: 0 0 20px rgba(0,0,0,0.3); /* ÐÐ°ÑÐ°Ð¼ÐµÑÑÑ ÑÐµÐ½Ð¸ */
}

.form_top,
.form_bottom {
	height:10px;
	background-color: #fff;
}
/*  Table Color*/
tr.gradeUU {
	color: #aaa;
}
tr.odd {
	background-color: #F0F5FC;
}
tr.odd td.sorting_1 {
	background-color: #D3E8FF;
}
tr.even td.sorting_1 {
	background-color: #F0F7FF;
}

td span.ui-icon {
	margin: 0 auto;
}

/* Overlay */
#simplemodal-overlay {
	background-color:#555;
}

/*****  postform  */
.user-form,
.alias-form{
	background-color: #fff;
	width: 550px;
	padding: 10px 15px;
	margin: 0px;
	font-size: 13px;
	color: #777;
}
.alias-form{
	height: 230px;
}
a.modalCloseImg {
	background:url(../images/x.png) no-repeat;
	width:25px;
	height:29px;
	display:inline;
	z-index:3200;
	position:absolute;
	top: -10px;
	right: -10px;
}

.pagemenu {
	width: 32px;
	height: 32px;
	margin: 2px 10px;
	float:left;
	border: 1px solid #ddd;
	position:relative;
}
.pagetabmenu {
	width: 26px;
	height: 26px;
	position:absolute;
	top: 3px;
	left:3px;
}

.pagetabmenu-selected {
	background-position: 0 -26px !important;
}

.logout {
	margin: 2px 45px;
}

.content-top {
	background-color: tan;
	height: 38px;
	padding: 1px 0;
	margin: 0 0 2px 0;
	border: 1px solid rgb(167, 115, 67);
}


#usersform table {
	border-collapse:collapse;
	width: 100%;
	margin: 0px;
}

#usersform td {
	padding: 5px 0;
}

#usersform td.formlabel {
	width: 160px;
}
form#usersform {
	padding: 0 20px;
}

#usersform input[type='text'],
#usersform textarea,
#usersform select
{
	background: none;
}

#usersform select {
	height: 25px;
	padding-left:3px;
}

#usersform input[type='text'],
#usersform input[type='password'],
#usersform textarea
{
	width: 100%;
	padding-left:3px;
	height: 21px;
}

#usersform textarea {
	resize: vertical;
}

#usersform td {
	vertical-align: middle;
}

.submit {
	text-align: center;
	padding: 20px 0 10px 0;
}

.login {
        width: 170px !important;
}

.mkpwd {
	margin: -14px 0 0 130px ! important;
	cursor: pointer;
}

.hidden {
	display: none;
}
.DTTT_label {
	margin-left: 100px !important;
	font-size: 18px;
/*
	color: #1e8af8 !important;
*/
}

td.mcenter {
	text-align: center;
}

/****** главная страница  ********/
.vertical-65,
.vertical-20,
.vertical-50
{
	width: 49%;
  	float:left;
	vertical-align: top;
	overflow-x: hidden;
}

.vertical-20 {
	width: 25%;
}
.vertical-65 {
	width: 65%;
}
.vertical-80 {
	margin-left: 25.5%;
}
.vertical-35{
	margin-left: 65.5%;
}
.content-center-35{
	margin-left: -65.5%;
}
.gorizont-50  {
	width: 100%;
	min-height: 100px;
	margin: 0 0 40px 0;
}

.right-side {
	float: right;
}

.vertical-50 .right-side {
	width: 100%;
	margin-right: -50.5%;
	float: right;
}
/**** картинки ***/
#alarms,
#badm,
#bcont,
#dns,
#users,
#home-page,
#aliases,
#domains,
#groups,
#logs,
#admin,
#auth,
#roles
{
	background-repeat: no-repeat;
	background-image: url('/css/smoothness/images/mail.png');
}

.Search_active,
a.DTTT_button_save span,
a.DTTT_button_foldernew span,
a.DTTT_button_search span,
a.DTTT_button_vis span,
a.DTTT_button_group span,
a.DTTT_button_print span,
a.DTTT_button_edit span,
a.DTTT_button_new span,
a.DTTT_button_del span
{
	height: 21px;
	width: 21px;
	background-repeat: no-repeat;
	background-image: url('/css/smoothness/images/edit.png');
	display: inline-block;
	color: transparent;
}

.DTTT_disabled {
	cursor: default;
}
.some_test {
	cursor:default;
}
.ui-autocomplete {
	z-index: 10000;
}

.nowrap {
	white-space:nowrap
}

/******************  treee   ******************/

#tree {
/*
	margin: 0 0 8px 0;
*/
}

