html,
body {
	margin:0px; padding:0px;
/*
	background:#f3f3f3;
*/
	position:relative;
}

.main-page {
	text-align: center;
}

.container {
	margin: 10px auto;
	min-width:1000px;
	width: 95%;
	overflow: hidden;
}

.content {
	float:right;
	margin-right:-125px;
	width:100%;
}

.content-left {
	float:left;
	width:125px;
}

.content-center {
	margin-right:125px;
}

.divider {
	padding: 40px 0;
}

.page-name {
	font-weight: bold;
	font-size: 1.2em;
/*
	color: #a03a00;
*/
}

.row_selected {
	background-color: #8282b8;
}

.theme{
	width: 100px;
	height: 100px;
	margin: 10px;
	position:relative;
}

.pagetab {
	width: 64px;
	height: 64px;
	position:absolute;
	top: 18px;
	left:18px;
}

/* Corner radius - reload */
.theme.ui-corner-all,
.user-form.ui-corner-all{
	border-top-left-radius: 10px;
}

.theme.ui-corner-all,
.user-form.ui-corner-all{
	border-top-right-radius: 10px;
}

.theme.ui-corner-all,
.user-form.ui-corner-all{
	border-bottom-left-radius: 10px;
}

.theme.ui-corner-all,
.user-form.ui-corner-all{
	border-bottom-right-radius: 10px;
}

.box-shadow {
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.3); /* ÐÐ»Ñ Firefox */
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3); /* ÐÐ»Ñ Safari Ð¸ Chrome */
    box-shadow: 0 0 20px rgba(0,0,0,0.3); /* ÐÐ°ÑÐ°Ð¼ÐµÑÑÑ ÑÐµÐ½Ð¸ */
}

.form_top,
.form_bottom {
	height:10px;
	background-color: #fff;
}
/*  Table Color*/
tr.gradeUU {
	color: #aaa;
}
tr.odd {
	background-color: #F0F5FC;
}
tr.odd td.sorting_1 {
	background-color: #D3E8FF;
}
tr.even td.sorting_1 {
	background-color: #F0F7FF;
}

td span.ui-icon {
	margin: 0 auto;
}
.aliases-header {
	margin: 10px 0;
	overflow: auto;
}

/* Overlay */
#simplemodal-overlay {
	background-color:#555;
}

/*****  postform  */
.user-form,
.alias-form{
	background-color: #fff;
	width: 550px;
	padding: 10px 15px;
	margin: 0px;
	font-size: 13px;
	color: #777;
}
.alias-form{
	height: 230px;
}
a.modalCloseImg {
	background:url(../images/x.png) no-repeat;
	width:25px;
	height:29px;
	display:inline;
	z-index:3200;
	position:absolute;
	top: -10px;
	right: -10px;
}

#usersform table {
	border-collapse:collapse;
	width: 100%;
	margin: 0px;
}

#usersform td {
	padding: 5px 0;
}

#usersform td.formlabel {
	width: 160px;
}
form#usersform {
	padding: 0 20px;
}

#usersform input[type='text'],
#usersform select {
	background: none;
}

#usersform select {
	height: 25px;
}

#usersform input[type='text'],
#usersform input[type='password']{
	width: 100%;
/*
	padding-left:3px;
*/
	height: 21px;
}

.submit {
	text-align: center;
	padding: 20px 0 10px 0;
}

.login {
        width: 170px !important;
}

.loginform {
	width: 460px;
	margin: 15% auto;
	padding: 30px 10px 10px
}

.logo {
	margin: 0px auto  20px;
}

.mkpwd {
	margin: -14px 0 0 130px ! important;
	cursor: pointer;
}

.hidden {
	display: none;
}
/**** картинки ***/

#users,
#home-page,
#aliases,
#domains,
#logs	{
	background-repeat: no-repeat;
	background-image: url('/css/smoothness/images/mail.png');
}

a.DTTT_button_print span,
a.DTTT_button_edit span,
a.DTTT_button_new span,
a.DTTT_button_del span {
	height: 21px;
	width: 21px;
	background-repeat: no-repeat;
	background-image: url('/css/smoothness/images/edit.png');
	display: inline-block;
	color: transparent;
}

.DTTT_disabled {
	cursor: default;
}
