.divider-70,
.divider-30 {
	margin: 0;
	display: inline-block;
}

.divider-70 {
	width: 69%;
	float:left;
}
.divider-30 {
	width: 30%;
	float: right;
}


.nest-grp.ui-selecting {
	background: #d3d3d3;
}

.nest-grp .ui-selected {
	background: dadada;
	border: 1px solid #888;
	color: #1e8af8;
}
.nest-grp {
	list-style-image: url('/css/smoothness/images/groups.png');
	list-style-type: none;
}
.nest-grp li {
	margin: 2px;
	padding-left: 3px;
	font-size: 14px;
	border: 1px solid white;
}

.ui-window {
	padding: 5px;
	width: 200px;
	min-height: 200px;
	overflow-x: hidden;
	vertical-align: top;
}

li span {
	vertical-align: 3px;
	border: none !important;
}

#arrow-right {
	background: url('/css/smoothness/images/arrows.png') no-repeat -26px 0px;
}
#arrow-left {
	background: url('/css/smoothness/images/arrows.png') no-repeat 0 0;
}

.image-arrow {
	width: 26px;
	height:26px;
	margin: 5px 2px;
	cursor: pointer;
}

#arrow-right.disable-arrow {
	background-position: -26px -26px;
}
#arrow-left.disable-arrow {
	background-position: 0px -26px;
}
.disable-arrow {
	cursor: default;
}
