#ed {
	background-image: url('/domains.png');
}
.aliasesplace {
/*
	float: none !important;
*/
}
.domain_box  {
	height: 307px;
	padding: 2px 2px 2px 0;
	overflow-y: scroll;
}
.noedit{
	cursor: default !important;
}
.alias input[type="text"]{
	width: 120px !important;
	height: 19px;
}
select {
	height: 23px;
	width: 120px;
}

.key  {
	width: 50% !important;
}
