#aliasesplace {
	margin:5px 2px 5px 10px;
	background-color: #fff;
	width: 437px;
	height: 705px;
	border-style: groove;
	border-width: 2px;
	position:relative;
}
#aliasesplace, #ed  {
	float:left
}
#ed {
	width: 365px;
	margin: 10px;
}
#aliases_box  {
	height: 675px;
	padding: 2px 25px 2px 0;
	line-height: 18px;
	overflow-y: scroll;
}
.alias_th, .mbox_th {
	background:#4198f9;
	font-weight:bold;
	text-align: center;
	width: 50%;
	height: 25px;
	line-height: 25px;
	float:left;
}
h4 {
	padding: 5px;
	border: 1px solid #fff;
}
h4 input {
	width: 150px;
}
#aliases_box table {
	border-collapse:collapse;
	color: #222;
	text-align:left;
	width: 420px;
}
#aliases_box tr {
	cursor:pointer;
	border-top: 1px solid #eee;
}
.key {
	font-weight:bold;
}
.lb_filter{
	float: left;
	margin: 0 0 0 20px;
	font-size: 10px;
}
.lb_filter input{
	width: 145px;
}
.hidden_filter {
	display: none !important;
}
.hover_tr {
	background-color: #fdffe1 !important;
}
.selected_key {
	background-color: #d2fdfd !important;
}
.atable {
	width: 100% !important;
	margin: 0px !important;
}
.atable input[type=text]{
	width: 250px !important;
}
