#ed {
	background: url('/mail.png') 88px 550px no-repeat;
}
h4 input {
	width: 150px;
}
.lb_filter{
	float: left;
	margin: 0 0 0 20px;
	font-size: 10px;
}
.lb_filter input{
	width: 145px;
}
.hidden_filter {
	display: none !important;
}
.atable {
	width: 100% !important;
	margin: 0px !important;
}
.atable input[type=text]{
	width: 250px !important;
}
