body {
       background-color: #dde;
   }

legend { 
    font-size:  small;
    background-color: #fff;
    border: 1px dimgrey outset;
    padding:3px;
    color: #555;
  
}
fieldset {
    background-color: #eee;
    text-align:  center;
    color: navy;  
    padding:10px;       
    max-width: 1000px;      
}
input[type='text']  {
    margin: 10px 0;
    width: 200px;
    disabled: true;
}

.container {
	background-color: #ccc;
	margin:50px 100px;
	width: 900px;
	height: 780px;
}
.mainmenu {
	background-color: #cecece;
	height: 40px;
}
.usrs {
	background-color: #cc0;
	position: relative;
}
.umenu {
	background-color: #c0c;
	float:left;
	overflow: auto;
	width: 218px;
	height: 720px;
}
.ulist {
	background-color: green;
	width: 200px;
}
.ufields {
	width: 600px;
	height: 720px;
	margin: 10px 0;
	overflow: auto;
	float:left;
}
.view {
	background-color: cyan;
	width: 580px;
}
.usr {
	padding: 0 5px;
}
.active {
	background-color: #0cc;
}
.formlabel {
	background-color: yellow;
	width: 300px;
}
.user1{
	text-align: left;
}
