body {
	font-family: verdana, tahome;
	font-size: 13px;
	text-align: center;
}
.container {
	background-color: #ccc;
	margin:50px auto;
	width: 840px;
	height: 800px;
}
.mainmenu {
	height: 30px;
	background-color: #fff;
}
.mainmenu ul {
	list-style: none;
	height: 25px;
	padding: 5px 0 0 0;
	width: 840px;
	margin: 0 auto;
	overflow: hidden;
	text-align: justify;
}
.mainmenu li {
	display: inline-block;
	line-height: 23px;
	background-color: #fff;
	border: solid 1px #ccc;
	width: 200px;
	height: 30px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	text-align: center;
	font-weight: bold;
/*
	margin: 0 10px;
*/
}
.mainmenu ul li.hover_item, .selected {
	background-color: #ccc  !important;
}
.selected a, .hover_item a {
	color: #BFBFFF; !important;
}
.mainmenu a {
	text-decoration: none;
	color: #888;
}
.editmenu {
	margin: 10px 10px 0 10px;
	padding: 5px;
	border-style: groove;
	border-width: 2px;
	overflow: auto;
}
.usrs, .fieldentry {
	position: relative;
}
#ufields {
	float:left;
	overflow: auto;
	height: 720px;
}
.view, #ufields {
	width: 532px;
}
.view h2 {
	margin: 150px 0 0 0;
}

#ulist {
	width: 200px;
	float:left;
	margin: 0 0 0 10px;
}
#ufields {
	margin: 0 0 0 45px;
}
#usrs {
	width: 200px;
}
.active {
	background-color: #0cc;
}
.formlabel {
	width: 200px;
	margin: 0 0 0 10px
}
.fieldentry input[type='text'] {
	width: 275px;
}
.fieldentry input[type='text'], .formlabel {
	float: left;
}
fieldset {
	width: 500px;
	margin: 10px 0 0 0;
}
legend {
    font-size:  small;
    font-style: italic;
    background-color: #ddd;
    border: 1px dimgrey outset;
    padding:2px 3px;
}

.fieldentry {
	overflow: auto;
	margin: 2px 0 0 0;
	text-align: left;
	line-height: 25px;
}
.submit {
	text-align: center;
	margin-top: 20px;
}
.login {
	width: 100px !important;
}
input[type='text'].path  {
	width: 150px !important;
}
#path {
	float: left;
}
#log {
	text-align: center;
	height: 15px;
}
.menu_item {
	margin: 5px;
}
#new {
	background: url(/document-new.png) -22px -44px;
	float: right;
	width: 22px;
	height: 22px;
	cursor: pointer;
}
.hover_new {
	background: url(/document-new.png) 0 -22px  !important;
}
.success, .error {
	background-color: green;
	padding: 0 5px;
	color: #fff;
}
.error {
	background-color: red !important;
}

.atable{
	border-collapse:collapse;
	border:1px solid #000;
	width: 478px;
	margin-left:10px;
}
.atable th{
	border:1px solid #fff;
	background:#4198f9;
	font-weight:bold;
}
.atable td{
	padding:0px;
	border:1px solid #fff;
}
.hidden {
	display: none;
}
.delRow, #path {
	color: red;
	font-size: 12px;
}
.badentry {
	background-color: pink;
}
.disabled {
	color: #bdbdbd;
}
ul li.helper {
	width: 100%;
	height: 0;
	visibility: hidden;
}
.web {
	font-family: Webdings,Verdana;
}
.label {
	font-size: 20px;
	margin: 0 10px 0 0;
	color: #222;
}
#domains_flt {
	font-size: 10px;
	float: left;
}
#domains_flt select {
	width: 149px;
}
#lb {
	width: 400px;
	float: left;
	margin: 0 0 0 80px;
	font-size: 18px;
	font-weight: bold;
	color: #888;
}
