/*
body {
       background-color: #dde;
   }


input[type='checkbox']  {
    margin: 0;
}
*/
.container {
	background-color: #ccc;
	margin:50px 100px;
	width: 840px;
	height: 780px;
}
.mainmenu {
	background-color: #cecece;
	height: 40px;
}
.usrs, .fieldentry {
	position: relative;
}
.umenu, #ufields {
	float:left;
	overflow: auto;
	height: 720px;
}
.view, .ufields {
	width: 532px;
}

.umenu, .ulist {
	width: 218px;
}
#ufields, .alias {
	margin: 0 0 0 40px;
}
.usr {
	padding: 0 5px;
}
.active {
	background-color: #0cc;
}
.formlabel {
	width: 200px;
	line-height: 25px;
}
.fieldentry input[type='text'] {
	width: 280px;
}
.fieldentry input[type='text'], .formlabel {
	float: left;
}
fieldset {
	width: 500px;
	margin: 10px 0 0 0;
/*
	text-align: center;
*/
}
legend { 
    font-size:  small;
    font-style: italic;
    background-color: #ddd;
    border: 1px dimgrey outset;
    padding:2px 3px;
}

.fieldentry {
	overflow: auto;
	margin: 2px 0 0 0;
}
.submit {
	text-align: center;
}
.login {
	width: 100px !important;
}
#log {
	text-align: center;
}
.success, .error {
	background-color: green;
	padding: 0 5px;
	color: #fff;
}
.error {
	background-color: red !important;
}

.atable{
	border-collapse:collapse;
	border:1px solid #000;
	width: 470px;
	margin-left:10px;
}
.atable th{
	border:1px solid #fff;
	background:#BFBFFF;
	font-weight:bold;
}
.atable td{
	padding:4px;
	border:1px solid #fff;
}
.oddRow{
	background:#FFFFFF;
}
.evenRow{
	background:#DFDFFF;
}
.hidden {
	display: none;
}
.delRow {
	cursor: pointer;
}
