#ed {
	background-image: url('/domains-a.png');
}

.aliasesplace {
	float: none !important;
}
.share {
	height: 7px;
}
.domain_box  {
	padding: 2px 25px 2px 0;
	height: 186px;
	overflow-y: scroll;
}

.noedit{
	cursor: default !important;
}
