#ed {
	background-image: url('/domains.png');
}
#usrs {
	margin: 5px 0 0 0;
}
.aliasesplace {
	float: none !important;
}
.share {
	height: 7px;
}
.domain_box  {
	padding: 2px 25px 2px 0;
	height: 186px;
	overflow-y: scroll;
}
.noedit{
	cursor: default !important;
}
.listbox input[type="text"]{
	width: 100px !important;
}
.listbox input[type="checkbox"]{
	float:left;
}

span.web {
	padding:0 3px;
	margin: 0 5px;
	cursor: pointer;
}

