
.login, .theme {
	background-color: #fff !important;
	width: 470px;
	height: 270px;
	margin: 150px auto;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.3); /* Для Firefox */
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3); /* Для Safari и Chrome */
    box-shadow: 0 0 20px rgba(0,0,0,0.3); /* Параметры тени */
}
.container{
	background-color: inherit !important;
	height: 770px;
}
.border {
	border: none;
	text-align: justify;
	overflow: hidden;
	margin: 100px auto;
}
input[type='text'], input[type='password'] {
	width: 245px;
}
.submit_button {
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	width: 100px;
	height: 30px;
	border: 1px solid #ccc;
	cursor:pointer;
	margin:10px;
}
.logo {
	text-align: center;
}
.logo img {
	margin:15px 10px 20px 10px;
}
.theme {
	width: 200px;
	height: 200px;
	margin:20px;
	display: inline-block;
}
p {
	text-align: center;
}
.theme a {
	color: #ddd;
	font-size: 40px;
	line-height: 300px;
	text-decoration:none;
}
.theme a:hover{
	color: #e77307 !important;
}
div.helper {
	width: 100%;
	height: 0;
	visibility: hidden;
}
#postfix {
	background: url(/postfix.jpg) 50% 40% no-repeat;
}
#squid {
	background: url(/squid.jpg) 50% 40% no-repeat;
}
