.mainmenu {
	background-color: #f3f3f3;
	height: 0px;
}
.login, .theme {
	background-color: #fff !important;
	width: 470px;
	height: 270px;
	margin: 150px auto;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.3); /* Для Firefox */
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3); /* Для Safari и Chrome */
    box-shadow: 0 0 20px rgba(0,0,0,0.3); /* Параметры тени */
}
.container{
	background-color: inherit !important;
	height: 770px;
}
.border {
	border: none;
/*
	text-align: justify;
*/
	overflow: hidden;
	margin: 100px auto;
}
input[type='text'], input[type='password'] {
	width: 245px;
}
.submit_button {
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	width: 100px;
	height: 30px;
	border: 1px solid #ccc;
	cursor:pointer;
	margin:10px;
}
.logomin {
	margin: 30px 50px 10px 50px;

/*
	width: 130px;
*/
	height: 98px;
}
.logo img {
	margin: 15px auto;
}
.theme {
	width: 200px;
	height: 200px;
	margin:20px;
	display: inline-block;
	cursor: pointer;
}
.name {
	text-align: center;
	font-size: 40px;
}
.theme a {
	color: #ddd;
	text-decoration:none;
}
.hover, #logout :hover{
	color: #FFA32D !important;
	background-position: 0 -98px !important;
}

div.helper {
	width: 100%;
	height: 0;
	visibility: hidden;
}
/*
#mail {
	margin-left: 35px;
	background: url(/postfix.png) 0 0 no-repeat;
}

#squid {
	margin-left: 50px;
	background: url(/squid.png) 0 0 no-repeat;
}
#admin {
	margin-left: 50px;
	background: url(/admin.png) 0 0 no-repeat;
}
*/
#logout{
	position: absolute;
	float:right;
	text-align:center;
	background-color: #fff;
	font-size: 20px;
	line-height:22px;
	color: #ccc;
	width: 25px;
	height: 25px;
	margin-left: 850px;
	cursor:pointer;
	border: 1px solid #ccc;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.3); /* Для Firefox */
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3); /* Для Safari и Chrome */
    box-shadow: 0 0 10px rgba(0,0,0,0.3); /* Параметры тени */
}
