/*
#ed {
	background-image: url('/groups.png');
}
*/
input {
	color: #888;
}
.editmenu {
	text-align: left;
	font-size: 10px;
	background-color: #eee;
}
.date_field {
	width: 70px;
}
.time_field {
	width: 60px;
}
#submit_filter {
	float: right;
	width: 24px;
	height: 24px;
	background: url(/stop.png) 0 -24px no-repeat;
	cursor: pointer;
	border: 1px solid #ccc;
}
.filtermenu {
	float:left;
	width: 780px;
}
#logplace {
	border: 1px solid #ccc;
	height: 770px;
	width: 821px;
	margin: 10px;
	overflow-y: scroll;
	overflow-x: auto;
	text-align: left;
}
.ui-widget-header, .ui-datapicker,.ui-widget-content, .ui-state-default {
	color: #c96c4c;
}
.ui-widget-header .ui-icon {
	background-image: url(/ui-icons_454545_256x240.png) !important;
}
#fltr {
	width: 130px;
}
.msgblock{
	margin:0;
	padding: 5px 2px;
	border-collapse:collapse;
	width:180%;
}
.odd {
	background-color: #FCFBF4;
	margin-left: 10px;
}
