body {
	font-family: verdana, tahome;
	font-size: 13px;
	text-align: center;
}
.container {
	margin:0px auto;
	width: 845px;
	height: 870px;
}
#usrs {
	height: 790px;
	width: 441px;
	float: left;
}
#ed {
	width: 382px;
	height: 770px;
	padding: 10px;
	float: left;
	background-position: 88px 520px;
	background-repeat: no-repeat;
}
.mainmenu {
	height: 30px;
}
.mainmenu ul {
	list-style: none;
	height: 25px;
	padding: 5px 0 0 0;
	width: 840px;
	margin: 0 auto;
	overflow: hidden;
	text-align: justify;
}
.whiteline, .mainmenu li {
 	width: 160px;
}
.mainmenu li {
	display: inline-block;
	line-height: 25px;
	height: 30px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	text-align: center;
	font-weight: bold;
}
.mainmenu a {
	text-decoration: none;
}
.editmenu {
	margin: 10px 10px 0 10px;
	padding: 5px;
	height: 26px;
	text-align: left;
	font-size: 10px;
/*
	border-style: groove;
	border-width: 2px;
*/
}
.submit {
	text-align: center;
	margin-top: 20px;
}
#log {
	text-align: center;
	margin: 10px 0;
}
.menu_item {
	margin: 5px;
}
#new {
	background: url(/document-new.png) -24px -48px;
	float: right;
	width: 24px;
	height: 24px;
	cursor: pointer;
}
.label {
	font-size: 20px;
	margin: 0 10px 0 0;
}
.hover_new {
	background: url(/document-new.png) 0 -24px  !important;
}
.error {
	color: red;
}
.hidden {
	display: none;
}
ul li.helper {
	width: 100%;
	height: 0;
	visibility: hidden;
}
div.delRow, div.else {
	margin: 0 auto;
	cursor: pointer;
	background: url(/ui-icons_454545_256x240.png) -16px -192px no-repeat;
	height: 16px;
	width: 16px;
}
div.else {
	background: url(/ui-icons_454545_256x240.png) -0px -192px no-repeat;
}
.atable{
	border-collapse:collapse;
	border:1px solid #000;
	width: 100% !important;
	margin: 0px !important;
}
.atable input[type=text]{
	width: 270px;
}
.atable th{
	font-weight:bold;
}
.atable td{
	padding:1px;
}
.mkpwd {
	cursor: pointer;
	text-decoration: underline;
}
#domains_flt {
	font-size: 10px;
	float: left;
}
#domains_flt select {
	width: 149px;
}
#lb {
	width: 400px;
	float: left;
	margin: 0 0 0 80px;
	font-size: 18px;
	font-weight: bold;
}
/*	******************	*/
.aliasesplace, .matrixplace {
	margin:5px 2px 5px 10px;
}
.aliases_box  {
	padding: 2px 25px 2px 0;
	height: 744px;
	overflow-y: scroll !important;
}
.aliases_box, .domain_box, #ed  {
	line-height: 17px;
	overflow-y: auto;
	overflow-x: hidden;
}
.aliases_box table, .domain_box table {
	border-collapse:collapse;
	text-align:left;
	width: 420px;
}
.aliases_box tr, .domain_box tr {
	cursor:pointer;
	border-bottom: 1px solid #eee;
	line-height: 20px;
}
.th {
	font-weight:bold;
	text-align: center;
	width: 50%;
	height: 25px;
	line-height: 25px;
	float:left;
}
.key {
	font-weight:bold;
	min-width: 200px;
}
h4{
	margin: 15px 0 10px 0;
}
.nonactive {
	text-decoration: line-through;
	color: #bbb;
}
.txt {
	width: 275px;
	height: 23px;
}
.lb {
	border:0;
	margin-top:50px;
}
.lb_filter{
	float: left;
	margin: 0 0 0 20px;
	font-size: 10px;
}
.lb_filter input{
	width: 145px;
}
.hidden_filter {
	display: none !important;
}
/**/
#usrs, .fieldentry {
	position: relative;
}
.formlabel {
	width: 110px;
	margin: 0 0 0 10px;
}
.fieldentry input[type='text'] {
	width: 245px;
	height: 19px;
	margin: 1px 0 0 0;
}
.fieldentry input[type='text'], .formlabel {
	float: left;
}
.fieldentry {
	overflow: auto;
	margin: 2px 0 0 0;
	text-align: left;
	line-height: 25px;
}
input[type='text'].path  {
	width: 212px;
}
.ptr {
	background: url(/ui-icons_454545_256x240.png) -32px -16px no-repeat;
	height: 16px;
	width: 16px;
	margin: 4px 5px 0 0;
	float: right;
	cursor: pointer;
}
.ptr-hover {
	background-position: -64px -16px !important;
}
