body {
	font-family: verdana, tahome;
	font-size: 13px;
	text-align: center;
}
.container {
	background-color: #ccc;
	margin:0px auto;
	width: 845px;
	height: 870px;
}
#usrs {
	height: 790px;
	width: 441px;
	float: left;
}
#ed {
	width: 382px;
	height: 770px;
	padding: 10px;
	float: left;
	background-position: 88px 520px;
	background-repeat: no-repeat;
}
.mainmenu {
	height: 30px;
	background-color: #fff;
}
.mainmenu ul {
	list-style: none;
	height: 25px;
	padding: 5px 0 0 0;
	width: 840px;
	margin: 0 auto;
	overflow: hidden;
	text-align: justify;
}
.mainmenu li {
	display: inline-block;
	line-height: 25px;
	background-color: #fff;
	border: solid 1px #ccc;
	width: 200px;
	height: 30px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	text-align: center;
	font-weight: bold;
}
/*
.mainmenu ul li.hover_item, .selected {
	background-color: #ccc  !important;
}
*/
.selected a, .hover_item a {
	color: #222 !important;
}
.mainmenu a {
	text-decoration: none;
	color: #888;
}
.editmenu {
	margin: 10px 10px 0 10px;
	padding: 5px;
	border-style: groove;
	border-width: 2px;
	overflow: auto;
}
.active {
	background-color: #0cc;
}
.submit {
	text-align: center;
	margin-top: 20px;
}
#log {
	text-align: center;

	margin: 10px 0;
}
.menu_item {
	margin: 5px;
}
#new {
	background: url(/document-new.png) -24px -48px;
	float: right;
	width: 24px;
	height: 24px;
	cursor: pointer;
}
.label {
	font-size: 20px;
	margin: 0 10px 0 0;
	color: #222;
}
.hover_new {
	background: url(/document-new.png) 0 -24px  !important;
}
.error {
	color: red;
}
.hidden {
	display: none;
}
.delRow {
	color: red;
	font-size: 12px;
}
.badentry {
	background-color: pink;
}
ul li.helper {
	width: 100%;
	height: 0;
	visibility: hidden;
}
.web {
/*
	font-family: Webdings,Verdana;
*/
	padding:0 3px;
	margin: 0 5px;
	cursor: pointer;
	float: right;
}
.atable{
	border-collapse:collapse;
	border:1px solid #000;
	width: 100% !important;
	margin: 0px !important;
}
.atable input[type=text]{
	width: 250px !important;
}
.atable th{
	border:1px solid #fff;
	background:#4198f9;
	font-weight:bold;
}
.atable td{
	padding:0px;
	border:1px solid #fff;
}

#domains_flt {
	font-size: 10px;
	float: left;
}
#domains_flt select {
	width: 149px;
}
#lb {
	width: 400px;
	float: left;
	margin: 0 0 0 80px;
	font-size: 18px;
	font-weight: bold;
	color: #888;
}
/*	******************	*/
.aliasesplace {
	margin:5px 2px 5px 10px;
	background-color: #fff;
	border-style: groove;
	border-width: 2px;
}
.aliases_box  {
	padding: 2px 25px 2px 0;
	height: 744px;
	overflow-y: scroll !important;
}
.aliases_box, .domain_box, #ed  {
	line-height: 18px;
	overflow-y: auto;
	overflow-x: hidden;
}
.aliases_box table, .domain_box table {
	border-collapse:collapse;
	color: #222;
	text-align:left;
	width: 420px;
}
.aliases_box tr, .domain_box tr {
	cursor:pointer;
	border-bottom: 1px solid #eee;
	line-height: 20px;
}
.th {
	background:#4198f9;
	font-weight:bold;
	text-align: center;
	width: 50%;
	height: 25px;
	line-height: 25px;
	float:left;
}
.key {
	font-weight:bold;
	min-width: 200px;
}
.hover_tr {
	background-color: #fdffe1 !important;
}
.selected_key {
	background-color: #d2fdfd !important;
}
h4{
	margin: 15px 0 10px 0;
}
.nonactive {
	text-decoration: line-through;
}
.txt {
	width: 275px;
}
.lb {
	border:0;
	margin-top:50px;
}
.lb_filter{
	float: left;
	margin: 0 0 0 20px;
	font-size: 10px;
}
.lb_filter input{
	width: 145px;
}
.hidden_filter {
	display: none !important;
}
/**/
#usrs, .fieldentry {
	position: relative;
}
.formlabel {
	width: 110px;
	margin: 0 0 0 10px;
}
.fieldentry input[type='text'] {
	width: 245px;
}
.fieldentry input[type='text'], .formlabel {
	float: left;
}
.fieldentry {
	overflow: auto;
	margin: 2px 0 0 0;
	text-align: left;
	line-height: 25px;
	background-color: #ddd;
}
input[type='text'].path  {
	width: 212px;
}

/*
#path {
	float: left;
}
*/
