
td.txt1{
	text-align: left;
	padding: 0 0 0 20px;
}
#ed {
	background-image: url('/roles.png');
	line-height: 22px;
}
.aliasesplace {
	float: none !important;
}
.domain_box  {
	padding: 2px 25px 2px 0;
	height: 150px;
	overflow-y: scroll;
}
ul.atable {
	list-style:none;
	border:0;
	margin:0;
	padding:0;
}
.head {
	background-color: #fff !important;
}
.atable .formlabel {
	width: 160px ;
}
.ptr {
	background: url(/ui-icons_454545_256x240.png) -32px -16px no-repeat;
	height: 16px;
	width: 16px;
	float:left;
}
.ptr-hover {
	background-position: -64px -16px !important;
	border-bottom: none !important;
}
h3{
	text-align: left;
	line-height: 16px;
	border: 1px solid #ddd;
	padding: 0 0 2px 0;
}
.rotateText {
	width: 20px;
    height: 120px;
}
text.somet{
	color:red;
}
.matrix{
	width: 429px;
	height: 500px;
	overflow-y: auto;
	overflow-x: auto;
}
.matrix table, .matrix td{
	border-collapse:collapse;
	margin:0;
	padding:0;
}
.matrix tr:nth-child(even){
	background-color: #eee;
}
.matrix td {
	padding: 3px 5px;
	min-width:10px;
	min-height:10px;
}
.ctrl {
	width: 120px;
	text-align: left;
	padding: 1px 3px !important;
}

/* Menu -----------------------------------------------------------------------------*/

.accordion h3 {
	margin: 0px 0;
}
.accordion-opener {
	padding: 0 0 0 5px;
}
.panel {
	overflow: auto;
}
/**  accordion  **/
ul.accordion,
ol.accordion {
    margin: 0;
    padding: 0;
}
.accordion li {
    list-style-type: none;
    margin: 10px auto !important;
    padding: 0;
}
.accordion li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    *zoom: 1;
}
.accordion li li {
    list-style-type: disc;
    margin-left: 1em;
}
.accordion a {
    color: inherit;
    text-decoration: inherit;
}
.accordion .loading {
    display: none;
}
