#usrs {
	width: 200px;
}
#ed {
	width: 623px;
	overflow: auto;
}
textarea {
	font-family: verdana, tahoma;
	font-size: 13px;
	width: 300px;
/*
	height: 50px;
*/
	resize: vertical;
}
input {
	width: 300px;
}

.templ select {
	width: 100px;
}
.records{
	border-collapse:collapse;
/*
	border:1px solid #ddd;
*/
	width: 100% !important;
	margin: 0px !important;
}

.entries, .templ{
	border: none;
	border-collapse:collapse;
	text-align: left;
}
.records textarea {
	font-family: verdana, tahome;
	font-size: 13px;
	color: #888;
	resize: none;
	border:0px solid #ccc;
	max-width: 100px;
	margin:0;
}
.t-h{
	height: 23px;
}
.records td{
	font-weight:bold;
	border:1px solid #ccc;
	padding:0px;
}
.t-h.else{
	background:none !important;
}
.records .t-h{
	background:#f1f1f1;
}
.entries .t-h{
	border: 1px solid #ddd;
}
.entries tr {
	background-color: #eee;
}

td.fname {
	width: 110px;
	padding: 0 0 0 10px;
}
.line, .editlabel {
	height: 2px;
	background-color: #fff !important;
}
.editlabel {
	border-bottom: 1px solid #eee;
}
.fhead {
	background-color: #F7F7F7 !important;
	text-align: center !important;
}
.fhead .t-h {
	border: none !important;
}
input[type='submit']{
	width: 80px;
}
.headwin {
	background-color: #eee;
	font-weight: bold;
	height: 24px;
	border-bottom: 1px solid #ddd;
	margin: 0 0 10px 0;
	line-height: 22px;
}
.aliases_box {
	overflow: auto !important;
	padding: 0;
	height: 740px;
}
ul.dynatree-container {
	border: none !important;
}
ul.dynatree-container li {
	background-image: none !important;
	text-align: left;
}
.ed-0 {
	cursor: pointer;
	border: 1px solid #ddd;
	width:16px;
	height: 16px;
	margin: 3px 5px;
	background: url('/ui-icons_454545_256x240.png') -176px -112px  no-repeat;
}
.ed-0:hover {
	background: url(/ui-icons_454540_256x240.png) -176px -112px  no-repeat !important;
	border: 1px solid #c96c4c;
}
.noborder {
	border: none !important;
	width: 23px;
}

#editNode {
	border: 1px solid #ddd;
	height: 15px;
	width: 80px;
	margin: 0 -2px;
}

/**********   Menu  ***********/
#ddmenu {
	display: block;
	width: 110px;
	height: 100%;
	cursor: pointer;
	outline: none;
	margin:0;
	padding:0;
	float: right;
}

#ddmenu li {
	display: block;
	position: relative;
	float: left;
	text-shadow: 1px 1px 0 #fff;
}

#ddmenu li span {
	display: block;
	float: left;
	padding: 0 12px;
	text-decoration: none;
	color: #888;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

#ddmenu ul {
	position: absolute;
	top: 30px;
	width: 100px;
	background: #eee;
	display: none;
	margin: 0;
	padding: 7px 0;
	list-style: none;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#ddmenu ul li {
	display: block;
	width: 100%;
	font-size: 1.3em;
	text-shadow: 1px 1px 0 #fff;
}

#ddmenu ul li span {
	display: block;
	width: 100%;
	padding: 4px 6px;
	line-height: 1.3em;
	cursor: pointer;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
#ddmenu ul li span:hover {
	color: #FF7B00;
}

