fieldset {
	width: 500px;
	margin: 10px 0 0 0;
}
legend {
    font-size:  small;
    font-style: italic;
    background-color: #ddd;
    border: 1px dimgrey outset;
    padding:2px 3px;
}
.usrs, .fieldentry {
	position: relative;
}
#ufields {
	float:left;
	overflow: auto;
	height: 720px;
}
.view, #ufields {
	width: 532px;
}
.view h2 {
	margin: 150px 0 0 0;
}

/*
#ulist {
	width: 200px;
	float:left;
	margin: 0 0 0 10px;
}
#ufields {
	margin: 0 0 0 45px;
}
#usrs {
	width: 200px;
*/

.formlabel {
	width: 110px;
	margin: 0 0 0 10px;
}
.fieldentry input[type='text'] {
	width: 225px;
}
.fieldentry input[type='text'], .formlabel {
	float: left;
}
.fieldentry {
	overflow: auto;
	margin: 2px 0 0 0;
	text-align: left;
	line-height: 25px;
	background-color: #ddd;
}
.login {
	width: 100px !important;
}
input[type='text'].path  {
	width: 150px !important;
}
#path {
	float: left;
}


/*
*********************************************
*/

