#ed {
	background-image: url('/users-a.png');
}
.login {
	width: 100px !important;
}
input[type='text'].path  {
	width: 150px !important;
}
#path {
	float: left;
}


/*
*********************************************
*/

